@import "colours";
@import "fonts";

header{
    background-image: url(../images/headerimg01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;

    body{
        margin: 20px;
    }
    .header_Grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        width: 100%;
        height: 700px;

        .header_Text{
            font-family: $JosefinSans;
            font-style: normal;
            line-height: 26px;
            color: $white;
            font-weight: normal;
        }
        .headerh1{
            font-weight: bold;
            font-size: 3rem;
            letter-spacing: 4.8px;
            grid-column: 6 / 8;
            grid-row: 6;
        }
        .header_First_Text{
            font-size: 1.5rem;
            letter-spacing: 6.82px;
            grid-column: 6 / 8;
            grid-row: 7;
        }
        .header_Second_Text{
            font-size: 1rem;
        }
        .header_Form_Area{
            width: 700px;
            background-color: $white;
            padding: 3px;
            grid-column: 5 / 9;
            grid-row: 8 / 9;
            
            input[type="text"] {
                background: $white;
                width: 500px;
                height: 50px;
                border: none;
                outline: none;
                padding: 0 25px;
                text-align: center;
                font-family: $JosefinSans;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 26px;
                letter-spacing: 2.8px;
                color: $grey;
            }
              input[type="submit"] {
                margin-left: -5px;
                width: 150px;
                height: 50px;
                float: right;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 1.5rem;
                font-family: $FontAwesome;
                font-family: $Aleo;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 26px;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                color: $white;
                background-color: $blue;
            }
        }
        .Navigation_Bar_Grid{
            grid-column: 1 / 13;
            grid-row: 12 / 13;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                top: 0;

                .Navigation_Bar_FlexBox{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: nowrap;
                    grid-column: 1 / 13;
                    grid-row: 13;
                    width: 100%;
                    height: 83px;
                    background-color: $blue;

                    .logo_grid{
                        align-self: center;  
                    }
                    .logo{
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: bold;
                        font-size: 1.5rem;
                        line-height: 26px;
                        align-self: center;
                        letter-spacing: 2.4px;
                    }
                    li {
                        float: left;
                    }
                      
                    li a {
                        display: block;
                        color: $white;
                        padding: 14px 16px;
                        text-decoration: none;
                    }
                }
                .navigation_Bar_Grid_Links{
                    align-self: center;

                    .nav_Text{
                        font-family: $Aleo;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1rem;
                        line-height: 26px;
                        color: $white;
                        transition: font-weight 0.1s ease-in-out;
                        transition: font-size 0.2s ease-in-out;
                    }
                    .nav_Text:hover {
                        font-weight: bolder;
                        font-size: larger;
                    
                    }
                }
            }
        }
    }
}












