@import "colours";
@import "fonts";

// Beginning of section01
.section01{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    background-image: url(../images/mainimg01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    opacity: 0.9;

    .section01_Text{
        font-family: $JosefinSans;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 26px;
        letter-spacing: 1.6px;
        color: #E8E8E8;
    }
    .first_text{
        font-family: $Aleo;
        font-size: 2.1rem;
        color: $white;
    }
    .section01_Img{
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .section01btn{
        width: 100%;
        height: 63px;
        font-family: $Aleo;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 26px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $white;
        background-color: $blue;
        border: none;
        outline: none;
        grid-column: 2 / span 2;
        grid-row: 9 / span 1;
    }
    .first_text{
        grid-column: 2 / span 5;
        grid-row: 3;
        align-self: flex-end;
    }
    .second_text{
        grid-column: 2 / span 5;
        grid-row: 4 / span 2;
        align-self: center;
    }
    .third_Text{
        grid-column: 2 / span 5;
        grid-row: 6 / span 2;
        align-self: center;
    }
    .section_img01{
        grid-column: 8 / span 3;
        grid-row: 2 / span 5; 
        object-fit: cover;
    }
    .section_img02{
        grid-column: 9 / span 3;
        grid-row: 7 / span 5; 
    }
}
// end of section01


// beginning of section02
.section02{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 340px;
    background-color: $black_Grey;
    
    .section02_First, .section02_Second, .section02_Third{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70%;
        justify-content: center;
        align-items: center;

        .section02_Img{
            width: 120px;
            height: 120px;
        }
        .section02_Text{
            font-family: $Aleo;
            font-style: normal;
            font-weight: normal;
            font-size: 2.1rem;
            line-height: 26px;
            color: $white;
        }
    }
}
// ending of section02


// beginning of section03
.section03{
    background-image: url(../images/section03backgroundimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    .section03_Grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 543px;
        height: 374px;
        grid-column: 2 / 4;
        grid-row: 4 / 6;
        background-color: $black_Grey;
        opacity: 0.9;

        .section03_Button{
            width: 228px;
            height: 63px;
            font-family: $Aleo;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 26px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: $white;
            background-color: $blue;
            border: none;
            outline: none;
            grid-column: 1 / 4;
            grid-row: 5 / 7;
            margin-left: 15px;
        }
        .section03_Text{
            font-family: $JosefinSans;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 26px;
            color: $white;
        }
        .section03_First_Text{
            font-size: 1.1rem;
            letter-spacing: 1.5px;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            align-self: end;
            justify-self: center;
        }
        .section03_Second_Text{
            font-size: 1.1rem;
            line-height: 26px;
            grid-column: 1 / span 3;
            grid-row: 2 / 3;
            align-self: end;
            margin-left: 15px;
            }
        .section03_Third_Text{
            grid-column: 1 / 7;
            grid-row: 3 / 5;
            align-self: center;
            margin-left: 15px;
        }
    }
}
// section03 ending

// beginning of section04
.section04{
    background-image: url(../images/section04backgroundimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    .section04_Grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 543px;
        height: 374px;
        grid-column: 4 / 6;
        grid-row: 4 / 6;
        background-color: #232323;;
        opacity: 0.9;

        .section04_Button{
            width: 228px;
            height: 63px;
            font-family: $Aleo;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 26px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: $white;
            background-color: $blue;
            border: none;
            outline: none;
            grid-column: 1 / 4;
            grid-row: 5 / 7;
            margin-left: 15px;
        }
        .section04_Text{
            font-family: $JosefinSans;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 26px;
            color: $white;
        }
        .section04_First_Text{
            font-size: 1.1rem;
            letter-spacing: 1.5px;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            align-self: end;
            justify-self: center;
        }
        .section04_Second_Text{
            font-size: 1.1rem;
            line-height: 26px;
            grid-column: 1 / span 3;
            grid-row: 2 / 3;
            align-self: end;
            margin-left: 15px;
            }
        .section04_Third_Text{
            grid-column: 1 / 7;
            grid-row: 3 / 5;
            align-self: center;
            margin-left: 15px;
        }
    }
}
// section04 ending

// section05 beginning
.section05{
    background-image: url(../images/section05backgroundimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    .section05_Text{
        font-family: $Aleo;
        font-style: normal;
        font-weight: normal;
        font-size: 2.1rem;
        line-height: 26px;
        color: $white;
    }
    .section05_First_Text{
        grid-column: 3 / span 2;
        grid-row: 2 / 3;
        justify-self: center;
    }
    .section05_Img{
        grid-column: 3 / 4;
        grid-row: 3 / span 2;
    }
    .section05_grid{
        width: 668px;
        height: 287px;
        background-color: $black_Grey;
        grid-column: 4 / 6;
        grid-row: 3 / 5;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .section05_grid_First_Text{
        font-family: $JosefinSans;
        font-size: 1.1rem;
        grid-column: 1 / 3;
        grid-row: 1;
        align-self: end;
        margin: 40px 0 10px 40px;
    }
    .section05_grid_Second_Text{
        font-size: 1rem;
        grid-column: 1 / 7;
        grid-row: 2 / 7;
        margin: 0 40px 0 40px;
        
    }
}
// section05 ending


